@media screen and (min-width: 481px) {
  nav ul {
    display: flex;
    margin-right: 27px;
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 1.8rem;
    color: black;
    margin-left: 63px;
    display: block;
    position: relative;
  }
  
  nav ul li a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; /*線の上下位置*/
    display: block;
    width: 57px; /*線の長さ*/
    height: 8px; /*線の太さ*/
    background-color: black; /*線の色*/
    transform: scale(0, 1);
    transform-origin: left;
    transition: 0.4s;
  }

  nav ul li a:hover:before {
    transform: scale(1);
  }
  
  .sp-nav,
  .sp-words,
  .blog4 {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 4rem; 
  }

  h2 {
    font-size: 3.8rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  p,
  menu .list div,
  .access-list dd {
    font-size: 1.2rem;
  }

  img {
    width: 100%;
  }

  /*-----------------------------------------
    header
  -----------------------------------------*/

  .drawer-hamburger {
    background: #ffffff;
    padding: 30px 22.5px 37px;
    width: 3.5rem;
  }

  .drawer-hamburger-icon,
  .drawer-hamburger-icon:after,
  .drawer-hamburger-icon:before {
    height: 3px;
  } 

  .drawer--right.drawer-open .drawer-hamburger {
    right: 0px;
  }
  
  .drawer--right .drawer-nav {
    right: -40rem;
  }

  .drawer-nav {
    padding-top: 98px;
    width: 80%;
  }

  .drawer-nav a {
    font-size: 2.4rem;
  }

  .header-left {
    margin-left: 20px;
  }

  .mainvisual {
    height: 673px;
  }

  .main-info {
    position: absolute;
    top: 261px;
    left: 41px;
  }

  .pc-nav,
  .pc-words,
  .item .item3,
  .root3 {
    display: none;
  }

  .about,
  .items .item,
  .access-container {
    flex-direction: column;
  }

  .main-info .sp-words {
    font-weight: bold;
    font-size: 1.6rem;
    color: #ffffff;
    padding-top: 22px;
    width: 50%;
  }

  .fa-4x {
    font-size: 6em;
  }

  .container {
    width: auto;
    margin: 0 auto;
    padding: 0 20px;
  }

  

  /*-----------------------------------------
    About
  -----------------------------------------*/

  .about {
    margin-top: 100px;
    margin-bottom: 127.7px;
  }

  .about .info {
    background-color: transparent;
    padding: 0;
    width: 100%;
  }

  .about img {
    margin-top: 22px;
  }

  .about h3 {
    font-size: 2rem;
  }

  /*-----------------------------------------
    Item
  -----------------------------------------*/

  .items .item li {
    margin-bottom: 50px;
    width: 100%;
  }

  .item figcaption {
    margin-bottom: 18px;
  }

  /*-----------------------------------------
    Price
  -----------------------------------------*/

  .menu {
    background-position: center;
    padding: 4.8rem 0;
    margin-right: -20px;
    margin-left: -20px;
  }

  .menu .price {
    width: 50%;
    margin: 0 20px;
    width: auto;
    padding: 6.4rem 5.7rem 6.7rem;
  }

  .menu h2:before {
    left: 30%;
  }

  /*-----------------------------------------
    Blog
  -----------------------------------------*/

  .blog .blog-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .blog .blog-list div {
    width: 48%;
  }

  .blog time {
    padding: 0;
  }

  .blog p {
    padding-bottom: 30px;
  }
  
  /*-----------------------------------------
  Access
  -----------------------------------------*/
  
  .access-container {
    padding: 0;
  }
  
  .access {
    margin: 100px 0 100px;
  }

  .access figcaption {
    font-weight: bold;
    padding: 10px 0;
  }

  .access .access-list dt {
    font-weight: bold;
    font-size: 1.8rem;
  }

  .access .root {
    padding: 37.2px 0;
    letter-spacing: 0.8px;
  }

  .access {
    margin-bottom: 100px;
  }

  iframe {
    width: 100%;
    height: 218px;
  }

  /*-----------------------------------------
    footer
  -----------------------------------------*/

  footer {
    width: 100%;
    height: 162px;
  }

  footer p {
    font-size: 4rem;
  }
}
