@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  color: black;
}

h1 {
  font-size: 6.4rem;
  line-height: 1.3;
}

h2 {
  font-size: 4.8rem;
  position: relative;
  margin-bottom: 1%;
}

h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px; /*線の上下位置*/
  display: block;
  width: 69px; /*線の長さ*/
  height: 5px; /*線の太さ*/
  background-color: black; /*線の色*/
}

h3 {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体";
  font-size: 2.4rem;
}

p,
menu .list div,
.access-list dd {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体";
  font-size: 1.6rem;
}

/*-----------------------------------------
  header
-----------------------------------------*/

.mainvisual {
  background-image: url(../images/top-image.png);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
}

.main-info {
  position: absolute;
  top: 292px;
  left: 138px;
}

.main-info .pc-words {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: bold;
}

.top-container {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.fas {
  bottom: 10px;
  width: 100%;
  text-align: center;
  position: absolute;
}

.header-left {
  margin-left: 40px;
}

.header-left a {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.header-left p {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

/*-----------------------------------------
  About
-----------------------------------------*/

.container {
  width: 1004px;
  margin: 0 auto;
}

.about {
  margin: 16% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .info {
  padding: 77px 56px 51px 57px;
  background-color: #f0f0f0;
  width: 30%;
}

.about h3 {
  padding-bottom: 23px;
}

.sub {
  font-weight: bold;
  margin-bottom: 2.3rem;
}

/*-----------------------------------------
  Item
-----------------------------------------*/

.items .item {
  display: flex;
  justify-content: space-between;
}

.items .item li {
  width: 33%;
}

.item figcaption {
  margin-bottom: 4%;
  font-weight: bold;
}

.item h3 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 5%;
}

.item .item3 p {
  text-align: center;
}

/*-----------------------------------------
  Price
-----------------------------------------*/

.menu {
  background-image: url(../images/price-image.png);
  background-repeat: no-repeat;
  background-position: 341px 93px;
  margin: 16% 0 20%;
  padding-bottom: 42.8rem;
}

.menu .price {
  padding: 5.5rem 8.5rem 6.7rem 8.5rem;
  border: 5px solid #a38787;
  background-color: rgba(255, 255, 255, 0.8);
  width: 324px;
}

.menu .price-head {
  text-align: center;
}

.menu .price-head p {
  padding: 18px 0 81px 0;
}

.menu h2:before {
  transform-origin: center;
  left: 40%;
}

table {
  width: 100%;
}

table th {
  text-align: left;
}

table td {
  text-align: right;
}

.menu td,th {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体";
  border-bottom: dashed 0.5px #707070;
  line-height: 3.6;
  font-weight: bold;
}

/*-----------------------------------------
  Blog
-----------------------------------------*/

.blog .blog-list {
  display: flex;
  justify-content: space-between;
  margin-top: 6.2rem;
}

.blog time {
  font-weight: bold;
  display: block;
  padding-top: 30px;
}

/*-----------------------------------------
  Access
-----------------------------------------*/

.access {
  margin: 19% 0 22%;
}

.access-container {
  display: flex;
  justify-content: space-between;
  margin: 9rem 0 15rem 0;
}

.access .access-list dt {
  font-weight: bold;
  font-size: 2.4rem;
}

.access .access-list dd {
  margin-bottom: 1.5rem;
}

.access .root {
  padding: 0 126px;
  letter-spacing: 0.8px;
}

.access .root li {
  margin-top: 3rem;
}

/*-----------------------------------------
  footer
-----------------------------------------*/

footer {
  background-color: #262626;
  border: 1px solid #5c3333;
  width: auto;
  height: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 8rem;
  font-weight: bold;
  color: #ffffff;
}
